body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif !important;
}

/*Header + footer*/
.navbar-brand,
.navbar-item a {
    color: white !important;
}

.btn-user {
    gap: 5% !important;
    min-width: 30vw !important;
}

.d-flex {
    justify-content: flex-end !important;
    align-items: center !important;
}

.footer a {
    font-size: 14px !important;
    margin-left: auto;
    margin-right: auto;
}

/*Accueil*/
.title {
    text-align: center !important;
    margin: 3rem 0!important;
}

.add-text {
    margin-left: 3rem;
}

.card {
    text-align: center;
    height: auto;
    margin-bottom: 2rem;
}

.card-body h3 {
    font-weight: bold;
    margin: 1rem 0;
}

.card img {
    height: 10rem;
    width: auto;
}

.card-btns {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card-btns .btn-light {
    margin-bottom: 1rem !important;
}

.col{
    text-align: -webkit-center !important;
}


.three-lasts,
.range {
    padding: 3rem;
}

/*Détails produit*/
.detail-product {
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.detail-product h5 {
    margin-bottom: 3rem;
    font-weight: bold;
}

.detail-product img {
    max-width: 40%;
    margin-bottom: 3rem;
}

/*Panier*/
.card-product {
    padding: 1rem !important;
}

.cart-page {
    height: auto !important;
    padding-bottom: 5rem !important;
}

.container h3 {
    text-align: center !important;
    margin: 3rem 0 !important;
}

.col-md-4 {
    margin: auto !important;
}

.quantity {
    display: flex !important;
    gap: 2%;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-control {
    max-width: 10rem;
}

.resume {
    display: flex;
    justify-content: space-around !important;
}

.resume-buttons {
    display: flex;
    gap: 5%;
}

/*Validation*/
.form-update {
    max-width: 50vw !important;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem !important;
}

.form-update .form-body {
    max-width: 40vw !important;
}

.resume-validate {
    display: flex;
    flex-direction: column;
}

.total {
    text-align: center !important;
    margin-top: 2rem;
}

/*Modal*/

/* Inscription / Connexion */
.btn-inscription {
    display: flex;
    justify-content: center;
    margin-top: 2rem !important;
}

.form h2,
.not-registered h3 {
    text-align: center;
    margin: 2rem;
}

.form-body {
    width: 60vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.form {
    border: 1px solid black;
    padding: 2.5rem;
    margin-top: 2.5rem;
}

.form-object {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
}

/*Profil*/
.account-banner {
    background-image: url(images/epicerie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
}

.account-banner h1 {
    color: white !important;
    text-align: center;
}

.account-buttons {
    padding: 2.5rem;
}

.card-user {
    padding: 1.5rem;
}

.card-user i {
    font-size: 56px;
}

/*Gammes*/
.col .range-products {
    margin: 2rem !important;
}

@media (max-width: 480px)
{
    .add-text {
        margin-left: 0;
    }
}

/*Commandes*/
.list-group-item {
    text-align: center !important;
}

.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.table td,
.table th {
    min-width: 20vw !important;
}

.table-details td,
.table-details th {
    min-width: 15vw !important;
}
