body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif !important;
}

/*Navbar*/

.navbar-item a {
    color: white !important;
}

/*Accueil*/
.title {
    text-align: center !important;
    margin-top: 3rem !important;
}